# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/www/wp-admin/
/www/wp-content/themes
/www/wp-includes/

# Uploads
/www/wp-content/uploads/

# Log files
/www/*.log

# htaccess
/www/.htaccess